:root {
  --dark-blue: #27374d;
  --blue: #526d82;
  --light-blue: #9db2bf;
  --white-blue: #dde6ed;

  --cursive: "Bad Script", cursive;
  --sans: "Noto Sans", sans-serif;
}

.hero,
.footer {
  background: linear-gradient(
    300deg,
    var(--dark-blue),
    var(--blue),
    var(--light-blue)
  );
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.personal-image {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

.btn {
  background-color: white;
  font-family: var(--sans);
  color: var(--blue);
}

.portfolio-btn {
  border: solid 2px white;
  background: none;
  padding: 7px 0px 7px 0px;
  color: white;
}

.display-5 {
  font-family: var(--cursive);
  letter-spacing: 3px;
}

.story-title {
  font-family: var(--cursive);
  color: var(--blue);
}

.story {
  font-family: var(--sans);
  color: var(--light-blue);
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
}

.mid-t {
  border: solid white 1px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: var(--cursive);
  color: var(--light-blue);
  font-weight: bold;
}

.mid-c {
  max-width: 80%;
}

.lead {
  font-family: var(--sans);
}

.about-me-title {
  font-family: var(--cursive);
  color: var(--blue);
}

.abt-me-text {
  font-family: var(--sans);
  color: var(--light-blue);
  max-width: 400px;
}

@media (min-width: 800px) {
  .contact-con {
    max-width: 90%;
  }
}

@media (max-width: 1200px) {
  img {
    margin-bottom: 25px;
  }

  h2 {
    margin-top: 25px;
  }
}

.con-txt {
  font-family: var(--cursive);
  color: var(--light-blue);
  letter-spacing: 5px;
  font-weight: bold;
}
